*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: black;
    height: 100vh;
    display:grid;
    place-items: center;
    color: white;
}
.glitch{
    font-size: 7rem;
    position: relative;

    text-shadow: 
        0.05em 0 0 rgb(245, 75, 194),
        -0.025em -0.05em 0 rgb(26, 180, 252),
        0.025em 0.05em 0 rgb(237, 252, 107);
    animation: glitch 500ms infinite;
}
.glitch span{
    position: absolute;
    top: 0;
    left: 0;
}
.glitch span:first-child{
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0,100% 0,100% 45%,0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}
.glitch span:last-child{
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%,100% 20%,100% 100%,0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
    
}

@keyframes glitch {
    0%{ text-shadow: 
        0.05em 0 0 rgb(245, 75, 194),
        -0.025em -0.05em 0 rgb(26, 180, 252),
        0.025em 0.05em 0 rgb(237, 252, 107);}
    14%{ text-shadow: 
        0.05em 0 0 rgb(245, 75, 194),
        -0.05em -0.025em 0 rgb(26, 180, 252),
        -0.025em 0.05em 0 rgb(237, 252, 107);}    
    15%{ text-shadow: 
        0.05em -0.025 0 rgb(245, 75, 194),
        0.025em -0.025em 0 rgb(26, 180, 252),
        -0.05em -0.05em 0 rgb(237, 252, 107);}
    49%{ text-shadow: 
        -0.05em -0.025 0 rgb(245, 75, 194),
        0.025em 0.025em 0 rgb(26, 180, 252),
        -0.05em -0.05em 0 rgb(237, 252, 107);}
    50%{ text-shadow: 
        0.025em 0.05em 0 rgb(245, 75, 194),
        0.05em 0 0 rgb(26, 180, 252),
        0 -0.05em 0 rgb(237, 252, 107);}
    99%{ text-shadow: 
        0.025em 0.05em 0 rgb(245, 75, 194),
        0.05em 0 0 rgb(26, 180, 252),
        0 -0.05em 0 rgb(237, 252, 107);}
    100%{ text-shadow: 
        -0.025em 0 0 rgb(245, 75, 194),
        -0.025em -0.025em 0 rgb(26, 180, 252),
        -0.025em -0.05em 0 rgb(237, 252, 107);}
}